@charset "utf-8";
/* CSS Document */

body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 10px;
}

.itable {
  border-collapse: collapse;
  border-top: none;
}
.itable td, .ftable th {
  border: 1px solid black;
}
.itable tr:first-child th {
  border-top: none;
}
.itable tr:last-child td {
  border-bottom: none;
}
.itable tr td:first-child,
.itable tr th:first-child {
  border-left: none;
}
.itable tr td:last-child,
.itable tr th:last-child {
  border-right: none;
}

.cell-title {
	height: 30px;
	padding-top: 10px;
	padding-bottom:10px;
	background:#09F;
	font-size:12px;
	font-weight:bold;
	color:#000;
}

.cell-description-clasi {
	height: 150px;
	color:#666;
	padding:10px;
	
}

.cell-header {
	height: 20px;
	padding-top: 5px;
	font-weight: bold;
	color:#000;
}

.cell-header-info {
	height: 20px;
	font-weight: bold;
	padding-left: 10px;
	color:#000;
}

.cell-header-clasi {
	height: 20px;
	font-weight: bold;
	padding-left: 10px;
	color:#000;
}

.cell-content-condi {
	height: 20px;
	padding: 10px;
	color:#666;
}

.cell-content {
	height: 40px;
	padding: 10px;
	color:#666;
}

.cell-content-info {
	height: 30px;
	padding-left: 10px;
	color:#666;
}

.cell-content-clasi {
	height:20px;
	color:#666;
	padding-left: 10px;
}

.cell-content-note {
	height: 30px;
	padding-left: 10px;
	color:#F00;
}